main { 
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 10px;
}

label {
    font-weight: bold;
}

div {
    padding-bottom: 4px;
}

.campoTexto {
    border-color: #d9edf7;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 5px 0;
    padding: 8px;
    width: 100%;
}

h2 {
    background-color: #d9edf7;
    color: #286090;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 12px;
    text-align: center;
}

.botao {
    background-color: #286090;
    color: #fffefa;
    text-align: center;
    border-radius: 4px;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
    display: block;
}

.painel {
    margin-right: 10px;
    border-width: thin;
    border-style: solid;
    border-color: #d9edf7;
    flex-grow: 1;
    border-radius: 8px;
    max-width: 500px;
}

.conteudo-painel {
    padding: 15px;
}

.sucesso {
    padding: 10px;
    border-collapse: collapse;
    border-color: #dff0d8;
    background-color: #dff0d8;
    color: #3c763d;
}

.erro {
    padding: 10px;
    flex-grow: 1;
    border-color: #f2dede;
    background-color: #f2dede;
    color: #a94442;
    font-weight: bold;
}